{
    "hosts": {
        "https://neoristest-josue.atlassian.net": {
            "product": "jira",
            "username": "e-jjmartinezt@neoris.com",
            "password": "iPZKKz8jBA64Z4D1maJ63B47"
        }
    }
}